*{
    margin: 0;
    padding: 0;
}



html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(24,24,24)
}

/* This is heights the header to be exactly 10% of the veiwport height for all devices. */
#header{
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 41, 41);
    height: 8vh; 
    justify-content: space-between;
}



nav{

    width: 50%;
    
}

#navigation{
    display: flex;
   
    border-top: none;
    border-right: none;
    border-width: 10px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav_link{
    font-family: 'impact';
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
.nav_link:hover{
    color: rgb(10, 205, 26);
 
}
#about_content{
    background-color: rgb(24,24,24);
    height: 84vh;
    background-image: url(../Images/TheAlpineCrew3Cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
}

#about_title{
    font-size: 5rem;
    justify-self: center;
    font-family: Impact;
    
    color: rgb(18, 190, 32);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
#about_description{
    justify-self: center;
    background-color: rgb(49, 49, 49);
    font-family: Impact;
    color: white;
    width: 10in;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    
}

.social_link{
    font-family: 'impact';
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;;
}
.social_link:hover{

    color: rgb(18, 190, 32);
}

footer{
    display: flex;
    background-color: rgb(41, 41, 41);
    height: 8vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
