*{
    margin: 0;
    padding: 0;
}


html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(24,24,24)
}

/* This is heights the header to be exactly 10% of the veiwport height for all devices. */
#header{
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 41, 41);
    height: 8vh; 
    justify-content: space-between;
}



nav{

    width: 50%;
    
}

#navigation{
    display: flex;
   
    border-top: none;
    border-right: none;
    border-width: 10px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav_link{
    font-family: 'impact';
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
.nav_link:hover{
    color: rgb(10, 205, 26);
 
}

#upcoming_Content{
    display: flex;
    flex-direction: row;
}


#upcoming_sec1{
    background: rgb(28, 28, 28);
    border: solid;
    border-color: white;
    width: 50%;
    height: 84vh;
    text-align: center;
    
}

#upcoming_sec1Title{
    font-size: 50px;
    color: white;
}
#upcoming_sec1List{
    color: white;
    
}
.upcoming_event{
    font-size: 30px;
    border: dashed;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Impact;
}

.upcoming_event:hover{
    background-color: rgb(8, 168, 22);
    color: black;
}
#upcoming_sec2{
    width: 35%;
    height: 84vh;
}




.social_link{
    font-family: 'impact';
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;;
}
.social_link:hover{

    color: rgb(18, 190, 32);
}

footer{
    display: flex;
    background-color: rgb(41, 41, 41);
    height: 8vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
