* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}



header {
    display: flex;
    flex-direction: row;
    position: sticky;
    background-color: rgb(44, 44, 44);
}

footer {
    padding-top: 5px;
    
    height: 50px;
    position: static;
    
}

.social_link{
    color: white;
    font-size: 30px;
    font-family: "Impact";
}

nav {
    width: 100%;
    padding-top: 12px;
}

.nav_link:hover{
    color: rgb(0, 210, 80);
}

.social_link:hover{
    color: rgb(0, 210, 80);
}
.nav_link {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-family: "Impact";
    font-style: italic;
    font-size: 30px;
    text-decoration: none;
    

}


#navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#social_links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social_link {
    text-decoration: none;
}

/* About Us Page */

#AboutBody{
    display: flex;
    flex-direction: column;
   
  
}
#infoHeader{
    font-family: "Impact";
    font-style: italic;
    font-size: 50px;
    padding-top: 50;
    color: rgb(0, 210, 80);
    -webkit-text-stroke: 2px black;
}

#infoAboutUs {
    display: flex;
     min-height: 100vh;
     min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('Images/TheAlpineCrew3Cropped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#info_1{
    width: 50%;
    font-size: 30px;
    color: white;
    font-family: Impact;
    background-color: rgb(37, 37, 37);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}



/*Merchandise Page*/

#infoMerchandise {
    width: 100%;
}

#merchandise_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.merchandise_image {
    width: 3in;
    height: 3in;
}

#infoCruzies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body {
    background-color: rgb(37, 37, 37);
   
}