* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}





header {
    display: flex;
    border: solid;
    flex-direction: column;
    align-items: center;
}

footer {
    border: solid;
    height: 50px;
}

h1 {
    width: 100%;
    text-align: center;
}

nav {
    width: 100%;
}

.nav_link {
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;

}

#navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#social_links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social_link {
    text-decoration: none;
}


#infoAboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}




h2{
    width: 100%;
    text-align: center;
}


#infoMerchandise{
    width: 100%;
}

#merchandise_list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.merchandise_image{
    width: 3in;
    height: 3in;
}

#infoCruzies{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}






